Repository isard-vdi/isard, pull requests merged in 2018-12, with the labels that each got.

#12 Added badges to the README
  README.md
Labels: documentation

#19 This check before starting engine fixes some restart cases that may fail
  CHANGELOG.md
  dockers/app/supervisord.conf
Labels: bug, docker

#18 This check before starting engine fixes some restart cases that may fail
  CHANGELOG.md
  dockers/app/supervisord.conf
Labels: bug, docker

#17 Removed the documentation from the repository
  docs/about/license.md
  docs/images/list
  docs/images/main.png
  docs/index.md
  docs/install.md
  docs/install/docker-compose.md
  docs/install/linux.md
  docs/quick-start/first.md
  mkdocs.yml
Labels: documentation

#14 [WIP] Improved the Docker Compose file
  build-docker-images.sh
  docker-compose.yml
  dockers/app/Dockerfile
  dockers/app/supervisord.conf
  src/isard.conf.docker
Labels: docker

#7 Created the CONTRIBUTING file
  CONTRIBUTING.md
Labels: documentation
