Repository isard-vdi/isard, pull requests merged in 2019-02, with the labels that each got.

#93 Fixed grafana thread
  extras/app-devel/devel-webapp.yml
  src/engine/services/threads/grafana_thread.py
Labels: bug, engine

#102 Feature/checkvirt
  src/engine/models/domain_xml.py
  src/engine/services/threads/hyp_worker_thread.py
  src/webapp/wizard/WizardLib.py
Labels: bug

#101 Force host-passthrough
  src/webapp/config/populate.py
Labels: enhancement

#100 Feature/delete
  src/webapp/admin/views/AdminDomainsViews.py
  src/webapp/lib/admin_api.py
  src/webapp/static/admin/js/domains.js
  src/webapp/static/admin/js/users.js
  src/webapp/static/js/desktops.js
  src/webapp/templates/admin/pages/domains_modals.html
  src/webapp/templates/admin/pages/users_modals.html
  src/webapp/templates/pages/desktops_detail.html
Labels: enhancement

#103 changing hypervisor testing to start, adding print xml_to_start in de…
  docker-compose.yml
  extras/app-devel/devel-debug.yml
  src/engine/controllers/ui_actions.py
  src/engine/models/hyp.py
  src/engine/models/manager_hypervisors.py
  src/engine/services/threads/hyp_worker_thread.py
  src/engine/services/threads/threads.py
Labels: enhancement

#104 Feature/wizard hyper
  src/webapp/wizard/WizardLib.py
  src/webapp/wizard/templates/wizard_main.html
Labels: enhancement

#107 bug in get_pool_from_domain
  src/engine/services/db/domains.py
Labels: bug

#105 Disabled local upload as needs more testing
  src/webapp/templates/admin/pages/media.html
Labels: bug

#109 fixed bug when wizard was not registered
  src/webapp/wizard/WizardLib.py
Labels: bug, webapp

#111 Feature/media delete
  src/webapp/lib/admin_api.py
  src/webapp/lib/api.py
  src/webapp/static/admin/js/media.js
Labels: enhancement, webapp

#112 fixed detail modals
  src/webapp/templates/admin/pages/domains_modals.html
Labels: bug, webapp

#113 Feature/media actions
  src/webapp/lib/admin_api.py
  src/webapp/lib/isardSocketio.py
  src/webapp/static/admin/js/domains.js
  src/webapp/static/admin/js/media.js
  src/webapp/static/js/media.js
  src/webapp/templates/admin/pages/domains.html
  src/webapp/templates/admin/pages/domains_modals.html
  src/webapp/templates/admin/pages/media.html
  src/webapp/templates/pages/desktops_modals.html
  src/webapp/templates/pages/media.html
  src/webapp/views/MediaViews.py
Labels: enhancement, webapp

#115 Disabled win virtio and fixed admin media
  src/webapp/static/admin/js/media.js
  src/webapp/static/js/media.js
  src/webapp/templates/admin/pages/media.html
  src/webapp/templates/admin/pages/media_modals.html
  src/webapp/templates/pages/media_modals.html
Labels: bug, enhancement, webapp

#114 Bases and templates (with all hierarchy) can be deleted consistently
  src/webapp/lib/admin_api.py
  src/webapp/static/admin/js/domains.js
  src/webapp/templates/admin/pages/domains_modals.html
Labels: bug, webapp

#116 Disabled desktop global actions in templates and bases
  src/webapp/static/admin/js/domains.js
  src/webapp/static/admin/js/users.js
  src/webapp/static/js/viewer.js
  src/webapp/templates/admin/pages/domains.html
  src/webapp/templates/admin/pages/users_modals.html
Labels: bug

#117 delete templates, delete if disk does not exist, retry if ssh fail wh…
  src/engine/controllers/broom.py
  src/engine/controllers/ui_actions.py
  src/engine/models/hyp.py
  src/engine/models/manager_hypervisors.py
  src/engine/services/threads/threads.py
Labels: engine, enhancement

#119 Fixed with netcat wait for ssh
  dockers/app/certs.sh
Labels: bug, docker

#118 Fixed template creation from admin. Fixed deletion of medias.
  src/webapp/lib/isardSocketio.py
  src/webapp/static/admin/js/domains.js
  src/webapp/static/admin/js/media.js
  src/webapp/static/js/desktops.js
  src/webapp/static/js/media.js
  src/webapp/templates/pages/desktops_modals.html
Labels: bug, webapp

#120 If events fails, stats thread will update status
  src/engine/controllers/broom.py
  src/engine/models/hyp.py
  src/engine/models/manager_hypervisors.py
  src/engine/services/db/domains.py
  src/engine/services/lib/functions.py
Labels: bug

#127 Feature/changelog1.1
  CHANGELOG.md
Labels: documentation
