Repository isard-vdi/isard, pull requests merged in 2019-01, with the labels that each got.

#30 Feature/ssh keys
  dockers/app/Dockerfile
  dockers/app/add-hypervisor.sh
  dockers/app/certs.sh
  dockers/external_hyper/README.md
  dockers/external_hyper/docker-compose.yml
  dockers/hypervisor/Dockerfile
  dockers/hypervisor/reset-hyper.sh
Labels: enhancement

#31 Updated image link
  README.md
Labels: documentation

#44 Feature/hyper keys
  .gitignore
  dockers/app/certs.sh
Labels: bug, webapp

#48 README branding
  README.md
Labels: documentation, enhancement

#49 download thread refactorized waiting other threads like disk operations
  dockers/app-devel/Dockerfile
  dockers/app-devel/requirements.pip3
  dockers/app-devel/supervisord.conf
  dockers/build-docker-images-devel.sh
  dockers/devel-debug.yml
  src/engine/config.py
  src/engine/models/manager_hypervisors.py
  src/engine/services/lib/qcow.py
  src/engine/services/log.py
  src/engine/services/threads/download_thread.py
Labels: bug, docker, engine

#55 Updated links
  src/webapp/templates/pages/about.html
Labels: enhancement

#61 updated volumes for compose v3.5
  docker-compose.yml
Labels: bug

#63 debug in extra directory, read README in extras/app-devel/ with guide…
  build-docker-images.sh
  dockers/app-devel/Dockerfile
  dockers/app-devel/requirements.pip3
  dockers/app-devel/supervisord.conf
  dockers/devel-debug.yml
  dockers/docker-compose-devel.yml
  extras/app-devel/Dockerfile
  extras/app-devel/README
  extras/app-devel/build-docker-images-devel.sh
  extras/app-devel/devel-debug.yml
  extras/app-devel/run_web_app.sh
  src/engine/services/threads/download_thread.py
  src/engine/services/threads/grafana_thread.py
Labels: bug, engine

#64 Feature/devel in extras
  docker-compose.yml
  extras/app-devel/devel-debug.yml
  src/engine/api/__init__.py
  src/engine/config.py
  src/webapp/wizard/WizardLib.py
Labels: bug, engine

#69 Changed docker restart policy to unless-stopped
  docker-compose.yml
  dockers/remote-grafana/docker-compose.yml
  dockers/remote-hyper/docker-compose.yml
  extras/app-devel/devel-debug.yml
  extras/grafana/docker-compose.yml
  extras/grafana/remote-grafana.yml
Labels: docker, enhancement

#56 Domain can be updated
  src/webapp/lib/isardSocketio.py
  src/webapp/static/admin/js/hypervisors_pools.js
  src/webapp/templates/admin/pages/hypervisors_modals.html
Labels: enhancement

#72 Feature/passwd
  src/webapp/lib/admin_api.py
  src/webapp/lib/isardSocketio.py
  src/webapp/static/admin/js/users.js
  src/webapp/templates/admin/pages/users_detail.html
  src/webapp/templates/admin/pages/users_modals.html
Labels: enhancement, webapp

#74 Feature/failed start pnotify
  src/webapp/lib/admin_api.py
  src/webapp/lib/api.py
  src/webapp/lib/isardSocketio.py
  src/webapp/static/admin/js/config.js
  src/webapp/static/admin/js/domains.js
  src/webapp/static/admin/js/hypervisors.js
  src/webapp/static/admin/js/media.js
  src/webapp/static/admin/js/users.js
  src/webapp/static/isard.css
  src/webapp/static/js/desktops.js
  src/webapp/static/js/media.js
  src/webapp/static/js/templates.js
  src/webapp/templates/admin/pages/base_graphs.html
  src/webapp/templates/base.html
  src/webapp/templates/login_disposables.html
Labels: enhancement, webapp

#76 Feature/better downloads
  src/engine/services/lib/download.py
  src/engine/services/threads/download_thread.py
Labels: enhancement

#77 Fixed resources page load and alloweds
  src/webapp/__init__.py
  src/webapp/templates/admin/pages/domains_resources.html
  src/webapp/views/AllowedsViews.py
Labels: bug, webapp

#78 parents chain solved
  src/engine/controllers/ui_actions.py
  src/engine/services/threads/threads.py
Labels: bug

#79 fixing downloads bugs
  src/engine/controllers/broom.py
  src/engine/models/manager_hypervisors.py
  src/engine/services/db/db.py
  src/engine/services/db/domains.py
  src/engine/services/lib/functions.py
  src/engine/services/threads/download_thread.py
  src/engine/services/threads/hyp_worker_thread.py
  src/engine/services/threads/threads.py
Labels: bug, engine

#80 bug engine templates fixed and grafana config from db
  src/engine/api/__init__.py
  src/engine/config.py
  src/engine/controllers/ui_actions.py
  src/engine/models/manager_hypervisors.py
  src/engine/services/threads/grafana_thread.py
Labels: bug, engine

#81 Feature/wizard hyper
  src/webapp/wizard/WizardLib.py
  src/webapp/wizard/templates/wizard_main.html
Labels: enhancement, webapp

#82 bugs creating template and download media
  src/engine/services/lib/download.py
  src/engine/services/lib/qcow.py
  src/webapp/lib/isardSocketio.py
Labels: bug, engine

#85 parents fixed
  src/engine/api/__init__.py
  src/engine/controllers/broom.py
  src/engine/controllers/ui_actions.py
  src/engine/services/db/domains.py
  src/engine/services/db/downloads.py
  src/engine/services/threads/threads.py
Labels: bug, engine

#87 Fixed registering after install
  extras/app-devel/devel-webapp.yml
  src/webapp/lib/isardUpdates.py
Labels: bug, webapp

#89 removed fields from hyper changes that did restarts when modifying th…
  src/engine/models/manager_hypervisors.py
Labels: bug, engine

#90 added reload button
  src/webapp/admin/views/UpdatesViews.py
  src/webapp/lib/isardUpdates.py
  src/webapp/templates/admin/pages/updates.html
Labels: enhancement

#92 Feature/fix downfailed
  src/webapp/lib/api.py
  src/webapp/static/admin/js/media.js
  src/webapp/static/admin/js/updates.js
  src/webapp/static/js/desktops.js
  src/webapp/static/js/media.js
Labels: bug, webapp
