Repository isard-vdi/isard, pull requests merged in 2020-09, with the labels that each got.

#221 install instructions
  sysadm/INSTALL.md
Labels: area/docs, kind/enhancement

#224 Feature/hyper perms
  docker/hypervisor/50-libvirt.rules
  docker/hypervisor/Dockerfile
  docker/hypervisor/checks/libvirt-log.sh
  docker/hypervisor/run.sh
  sysadm/debian_docker.sh
Labels: area/docker, kind/bug, stage/3-to-review

#226 ldap fixes for this version
  webapp/webapp/webapp/auth/authentication.py
  webapp/webapp/webapp/config/ldapauth.py
  webapp/webapp/webapp/templates/admin/pages/config.html
Labels: area/webapp, kind/bug, stage/4-finished

#229 Jvinolas/feature/fix cdrom
  engine/engine/engine/models/domain_xml.py
Labels: area/engine, kind/bug, stage/4-finished

#230 Feature/vlans
  build.sh
  docker/hypervisor/Dockerfile
  docker/hypervisor/auto-generate-certs.sh
  docker/hypervisor/run.sh
  docker/hypervisor/vlans-add.sh
  docker/hypervisor/vlans-discover.sh
  isardvdi.cfg.example
  ymls/isard-hypervisor-vlans.yml
Labels: area/docker, kind/enhancement, stage/3-to-review

#227 Update curl of isard-webapp
  webapp/docker/Dockerfile
Labels: area/webapp, kind/bug, stage/3-to-review

#228 Fix "password do not match" with unique HTML ids
  webapp/webapp/webapp/static/admin/js/users.js
  webapp/webapp/webapp/templates/admin/pages/users_modals.html
Labels: area/webapp, kind/bug, stage/3-to-review

#231 Updates database with found vlans
  docker/hypervisor/Dockerfile
  docker/hypervisor/vlans-add.sh
  docker/hypervisor/vlans-db.py
  docker/hypervisor/vlans-discover.sh
Labels: area/docker, kind/enhancement, stage/4-finished

#234 Fix webapp template name validation
  webapp/webapp/webapp/static/js/desktops.js
  webapp/webapp/webapp/templates/pages/desktops_modals.html
Labels: area/webapp, kind/bug, stage/3-to-review

#236 Fixed return carriage strip on uploaded csv
  webapp/webapp/webapp/lib/admin_api.py
  webapp/webapp/webapp/lib/isardSocketio.py
  webapp/webapp/webapp/static/admin/js/users.js
Labels: kind/bug

#238 replaced envvar for db from hypervisor
  docker/hypervisor/vlans-db.py
Labels: kind/bug

#237 Feature/import
  api/src/api/libv2/__apiv2.py
  api/src/api/libv2/api_desktops_persistent.py
  api/src/api/libv2/api_users.py
  api/src/api/views/DesktopsPersistentView.py
  api/src/api/views/UsersView.py
  webapp/webapp/webapp/config/ldapauth.py
Labels: kind/enhancement

#233 Add missing openssl to isard-hypervisor
  docker/hypervisor/Dockerfile
Labels: area/docker, kind/bug, stage/3-to-review

#240 Open port, filter with firewall
  ymls/devel/isard-db.yml.devel
  ymls/isard-db.yml
Labels: kind/bug

#241 Avoid updating existing vlans in db
  docker/hypervisor/vlans-db.py
  docker/hypervisor/vlans-discover.sh
Labels: kind/bug

#242 Fix desktop delete button enabled when runs
  webapp/webapp/webapp/static/js/desktops.js
Labels: area/webapp, kind/bug, stage/3-to-review

#244 fixed bridge mapping
  docker/hypervisor/vlans-db.py
Labels: kind/bug, stage/4-finished
