Repository isard-vdi/isard, pull requests merged in 2020-11, with the labels that each got.

#290 Preserve hypervisor SSHd keys
  docker-compose.yml
  docker-compose.yml.example
  docker/hypervisor/Dockerfile
  docker/hypervisor/run.sh
  ymls/isard-hypervisor-vlans.yml
  ymls/isard-hypervisor.yml
Labels: kind/bug, stage/3-to-review

#297 Fix the view of quota and limits of user details
  webapp/webapp/webapp/templates/admin/pages/users_detail.html
Labels: area/webapp, kind/bug, stage/3-to-review

#300 Fix user update by backend
  backend/isard/user.go
Labels: kind/bug, stage/3-to-review

#299 Fix user edit form invalid warnings
  webapp/webapp/webapp/static/admin/js/users.js
Labels: area/webapp, kind/bug, stage/3-to-review

#298 Fix user details limits form, locking it
  webapp/webapp/webapp/static/js/snippets/quota.js
Labels: area/webapp, kind/bug, stage/3-to-review

#296 Fixes quota inputs size of user details
  webapp/webapp/webapp/static/isard.css
  webapp/webapp/webapp/templates/admin/pages/users_detail.html
  webapp/webapp/webapp/templates/admin/pages/users_modals.html
  webapp/webapp/webapp/templates/snippets/limits_edit.html
  webapp/webapp/webapp/templates/snippets/quota_edit.html
Labels: area/webapp, kind/bug, stage/3-to-review

#295 Fix undefined values in access list of webapp
  webapp/webapp/webapp/static/js/snippets/alloweds.js
Labels: area/webapp, kind/bug, stage/3-to-review

#293 Fix media editing on admin menu desktops of webapp
  webapp/webapp/webapp/lib/isardSocketio.py
  webapp/webapp/webapp/static/admin/js/domains.js
Labels: area/webapp, kind/bug, stage/3-to-review

#292 Fix webapp showing media in desktops of admin menu
  webapp/webapp/webapp/static/admin/js/domains.js
Labels: area/webapp, kind/bug, stage/3-to-review

#280 Fix BalancerInterface.get_next() parameters
  engine/engine/engine/models/pool_hypervisors.py
  engine/engine/engine/services/balancers/balancer_interface.py
  engine/engine/engine/services/balancers/central_manager.py
  engine/engine/engine/services/balancers/round_robin.py
Labels: area/engine, kind/bug, stage/3-to-review

#284 added novideo hypervisor
  build.sh
  ymls/isard-hypervisor-standalone.yml
Labels: area/docker, blocking, kind/enhancement, stage/3-to-review

#305 video-standalone for infrastructure
  build.sh
Labels: area/docker, blocking, kind/enhancement

#306 Deduplicate content of docker-compose hypervisors yml
  build.sh
  ymls/isard-hypervisor-vlans.yml
Labels: area/docker, blocking, kind/bug, stage/3-to-review

#308 docker-compose no-stats flavor
  .gitignore
  build.sh
Labels: area/docker, blocking, kind/enhancement, stage/3-to-review

#307 Fix docker-compose src devel volume for isard-stats
  ymls/devel/isard-stats.yml.devel
Labels: area/docker, kind/bug, stage/3-to-review

#302 Fix api by limiting the name length of non-persistent desktops
  api/src/api/libv2/api_desktops_nonpersistent.py
Labels: kind/bug, stage/3-to-review

#310 Allow docker-compose pull without source code
  .gitignore
  .gitlab-ci.yml
  build.sh
  docker-compose-parts/.env
  docker-compose-parts/api.build.yml
  docker-compose-parts/api.devel.yml
  docker-compose-parts/api.yml
  docker-compose-parts/backend.build.yml
  docker-compose-parts/backend.yml
  docker-compose-parts/db.devel.yml
  docker-compose-parts/db.yml
  docker-compose-parts/engine.build.yml
  docker-compose-parts/engine.devel.yml
  docker-compose-parts/engine.yml
  docker-compose-parts/grafana.build.yml
  docker-compose-parts/grafana.yml
  docker-compose-parts/hypervisor-standalone.yml
  docker-compose-parts/hypervisor-vlans.yml
  docker-compose-parts/hypervisor.build.yml
  docker-compose-parts/hypervisor.devel.yml
  docker-compose-parts/hypervisor.yml
  docker-compose-parts/network.yml
  docker-compose-parts/portal.build.yml
  docker-compose-parts/portal.yml
  docker-compose-parts/squid.build.yml
  docker-compose-parts/squid.yml
  docker-compose-parts/static.build.yml
  docker-compose-parts/static.devel.yml
  docker-compose-parts/static.yml
  docker-compose-parts/stats.build.yml
  docker-compose-parts/stats.devel.yml
  docker-compose-parts/stats.yml
  docker-compose-parts/video.build.yml
  docker-compose-parts/video.yml
  docker-compose-parts/webapp.build.yml
  docker-compose-parts/webapp.devel.yml
  docker-compose-parts/webapp.yml
  docker-compose-parts/websockify.build.yml
  docker-compose-parts/websockify.yml
  docker-compose.yml
  docker-compose.yml.example
  ymls/depends/hyp.yml
  ymls/devel/isard-hypervisor.yml.devel
  ymls/devel/isard-portal.yml.devel
  ymls/devel/isardvdi-portal.yml.devel
  ymls/isard-portal.yml
Labels: area/docker, kind/bug, stage/3-to-review

#287 Fixed bug in iptables 1.8
  sysadm/debian_firewall.sh
  sysadm/debian_firewall_hyp.sh
Labels: kind/bug, stage/3-to-review

#333 New endpoint CategoriesGet
  api/src/api/libv2/api_users.py
  api/src/api/views/UsersView.py
  api/src/api_client_test.py
Labels: kind/enhancement

#332 Added vmName parameter on html5 viewer to show on top bar
  api/src/api/libv2/isardViewer.py
  api/src/api_client_test.py
  backend/isard/viewer.go
  docker/static/noVNC/index.html
  webapp/webapp/webapp/lib/isardViewer.py
Labels: area/webapp, kind/enhancement
