Repository isard-vdi/isard, pull requests merged in 2020-10, with the labels that each got.

#245 removed net from web ui
  webapp/webapp/webapp/static/admin/js/domains_resources.js
  webapp/webapp/webapp/templates/admin/pages/domains_resources_modals.html
Labels: area/webapp, stage/4-finished

#252 Standalone hypervisor
  docker/video/docker-entrypoint.sh
  docker/video/haproxy.conf
  isardvdi.cfg.example
Labels: kind/bug

#253 Added a shares between categories script with related code in app
  engine/engine/initdb/populate.py
  webapp/webapp/share_all.py
  webapp/webapp/webapp/auth/authentication.py
  webapp/webapp/webapp/lib/load_config.py
  webapp/webapp/webapp/views/DesktopViews.py
Labels: area/webapp, kind/enhancement

#256 Fixed bug when shares are not present in config
  webapp/webapp/webapp/lib/load_config.py
Labels: area/webapp, kind/bug, stage/3-to-review

#259 New dhcp range with 1000 possible hosts
  docker/hypervisor/networks/default.xml
Labels: area/docker, kind/enhancement, stage/3-to-review

#260 Fixed units in net QoS modal
  engine/engine/initdb/populate.py
  webapp/webapp/webapp/templates/admin/pages/domains_resources_modals.html
Labels: area/webapp, kind/bug, stage/3-to-review

#261 Feature/users ui fix
  webapp/webapp/webapp/lib/admin_api.py
  webapp/webapp/webapp/static/admin/js/users.js
  webapp/webapp/webapp/static/js/snippets/quota.js
  webapp/webapp/webapp/templates/admin/pages/users_modals.html
  webapp/webapp/webapp/templates/snippets/limits_edit.html
  webapp/webapp/webapp/templates/snippets/quota_edit.html
Labels: area/webapp, kind/bug, stage/2-wip, stage/4-finished

#262 Fixed bug in mem percentage that failed to limit by memory
  api/src/api/libv2/quotas.py
  api/src/api/libv2/webapp_quotas.py
  webapp/webapp/webapp/lib/quotas.py
Labels: area/webapp, kind/bug, stage/4-finished

#273 Fix "Medi" messages of webapp
  webapp/webapp/webapp/lib/api.py
Labels: area/webapp, kind/bug, stage/3-to-review

#276 Fix devel lib volume of isard-api docker-compose
  docker-compose.yml
  docker-compose.yml.example
  ymls/devel/isard-api.yml.devel
  ymls/isard-api.yml
Labels: area/docker, kind/bug, stage/3-to-review

#271 Upgrade node-forge of frontend
  frontend/yarn.lock
Labels: kind/bug, stage/3-to-review

#264 Use docker-compose instructions as in the web
  README.md
Labels: area/docker, kind/enhancement, stage/3-to-review

#263 Update socket.io.js
  webapp/webapp/webapp/static/vendor/socket.io-2.3.1.slim.js
  webapp/webapp/webapp/static/vendor/socket.io.min.js
  webapp/webapp/webapp/templates/base.html
Labels: area/webapp, kind/bug, stage/3-to-review

#275 Fix desktop creation from admin menu media of webapp
  webapp/webapp/webapp/lib/isardSocketio.py
Labels: area/webapp, kind/bug, stage/3-to-review

#269 Enable desktop delete button on failed status
  webapp/webapp/webapp/static/js/desktops.js
Labels: area/webapp, kind/bug, stage/3-to-review

#274 Fix delete desktop from admin menu of webapp
  webapp/webapp/webapp/static/admin/js/domains.js
Labels: area/webapp, kind/bug, stage/3-to-review

#246 Add giltab-ci to autobuild docker images
  .gitlab-ci.yml
  build.sh
  docker-compose.yml
  docker-compose.yml.example
  isardvdi.cfg.example
  ymls/isard-api.yml
  ymls/isard-backend.yml
  ymls/isard-engine.yml
  ymls/isard-grafana.yml
  ymls/isard-hypervisor-vlans.yml
  ymls/isard-hypervisor.yml
  ymls/isard-portal.yml
  ymls/isard-squid.yml
  ymls/isard-static.yml
  ymls/isard-stats.yml
  ymls/isard-video.yml
  ymls/isard-webapp.yml
  ymls/isard-websockify.yml
Labels: area/docker, kind/enhancement, stage/3-to-review

#281 Fix backing_chain_domain and backing_chain_template referenced before assignment
  engine/engine/engine/services/lib/qcow.py
Labels: area/engine, kind/bug, stage/3-to-review
